/* Estilos personalizados de las planilla de tarifas en el panel de administración */

.tabla_tarifas
	max-width 100% !important
	width 100%
	
	.tabla_tarifas__fila
		&__encabezado
			background-color #ddd
		
			.tabla_tarifas__input
				background transparent
				border none
				color #999
				font-family monospace
				font-size 18px
				height 50px
				margin 0
				text-align center
				width 100%

			.tabla_tarifas__input__habilitado
				background #fff
				color #222
	
	.tabla_tarifas
		&__cuerpo
			&__fila
				&:nth-child(even)
					background-color #ccc
				td
					border none
					input
						border none
						font-size 18px
						height 50px
						margin 0
						// text-align right
						width 100%